/* Định dạng giao diện */
header {
    background-color: #f2f2f2;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 30px;
}

.product-image {
    float: left;
    margin-right: 20px;
}

.product-info {
    overflow: hidden;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
