@model IEnumerable<DoAnCoSo.Models.EF.ProductCategory>


@if (Model != null && Model.Any())
{
    <div id="brand">
        <div class="brand-content">
            <ul class="sub-brand">
              
                    <li class="brand-item">
                        <img src="Content/assets/css/img/logops.png" alt="">
                    </li>
                    <li class="brand-item">
                        <img src="Content/assets/css/img/logoxbox.png" alt="">
                    </li>
                    <li class="brand-item">
                        <img src="Content/assets/css/img/logonin.png" alt="">
                    </li>
               

            </ul>
        </div>
    </div>
}    